.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(235, 231, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  border: 1px solid #0E91A0;
  height: 200px;
  color: #0E91A0;
  padding: 10px 15px;
}
.form span {
  font-size: 30px;
}
.form input {
  padding: 8px 10px;
  margin-top: 10px;
  border-radius: 2px;
  font-size: 20px;
  outline: 0;
}
.field:focus {
  border: 2px solid #0E91A0;
}
[type="submit"] {
  cursor: pointer;
  color: #0E91A0;
}

input {
  outline: 0;
}